%h1 Kurs istekleri
%table{:border => "1"}
  %tr
    %td Kurs içerigi
    %td Kullanıcı e-mail
    %td işlemler

  - @wants.each do |want|
    %tr
    
      %td=want.course.description
      %td= want.user.email
      %td
        -if want.permission == 0
          =link_to "Onayla",   admin_wants_permit_path(want.id)
        -else
          Onaylandı