
.container_ozellik
  .d-flex.justify-content-center.row
    .col-lg-3
    
    
      =image_tag  "motor.jpg", :class => "img_size mt-4"
    .ml-3.mt-4.col-lg-3.div_size{:style => "width: 400px; color: aliceblue;"}
      %h1 ABOUT US
      %p Lorem ipsum dolor sit amet consectetur adipisicing elit. Exercitationem, facere.
      %ul.demo{:style => "margin-left: -20px;"}
        %li Lorem ipsum dolor
        %li Lorem ipsum dolor
        %li Lorem ipsum dolor
.course.text-center
  %h1.pt-4
    %tag{:style => "color: seashell;"} PRICE
    LIST
  %p Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad natus aut veniam alias, beatae laboriosam?
  .container.deneme
    %h1
    .row
      .col-sm
        .text-center.mt-4.course-card
          %h1.pt-3{:style => "font-size: 30px; color: #D6A74C;"} BEGİNER
          %i.fal.fa-football-helmet{:style => "color: seashell; font-size: 70px;"}
          %h1{:style => "font-size: 30px; color: #D6A74C;"} GROUP
          %p{:style => "color: seashell;"} Lorem ipsum, dolor sit amet consectetur adipisicing elit. Voluptatum, obcaecati iusto adipisci ex quis iure.
          %p{:style => "color: #F47122;"} $100
          %button.btn.btn-outline-secondary{:type => "button"} Secondary
      .col-sm
        .text-center.mt-4.course-card
          %h1.pt-3{:style => "font-size: 30px; color: #D6A74C;"} AMATEUR
          %i.far.fa-motorcycle{:style => "color: seashell; font-size: 70px;"}
          %h1{:style => "font-size: 30px; color: #D6A74C;"} GROUP
          %p{:style => "color: seashell;"} Lorem ipsum, dolor sit amet consectetur adipisicing elit. Voluptatum, obcaecati iusto adipisci ex quis iure.
          %p{:style => "color: #F47122;"} $250
          %button.btn.btn-outline-secondary{:type => "button"} Secondary
      .col-sm
        .text-center.mt-4.course-card
          %h1.pt-3{:style => "font-size: 30px; color: #D6A74C;"} PRO
          %i.far.fa-steering-wheel{:style => "color: seashell; font-size: 70px;"}
          %h1{:style => "font-size: 30px; color: #D6A74C;"} GROUP
          %p{:style => "color: seashell;"} Lorem ipsum, dolor sit amet consectetur adipisicing elit. Voluptatum, obcaecati iusto adipisci ex quis iure.
          %p{:style => "color: #F47122;"} $400
          %button.btn.btn-outline-secondary{:type => "button"} Secondary
      .col-sm
        .text-center.mt-4.mb-4.course-card
          %h1.pt-3{:style => "font-size: 30px; color: #D6A74C;"} PERSONAL
          %i.fal.fa-books{:style => "color: seashell; font-size: 70px;"}
          %h1{:style => "font-size: 30px; color: #D6A74C;"} LESSON
          %p{:style => "color: seashell;"} Lorem ipsum, dolor sit amet consectetur adipisicing elit. Voluptatum, obcaecati iusto adipisci ex quis iure.
          %p{:style => "color: #F47122;"} $50
          %button.btn.btn-outline-secondary{:type => "button"} Secondary
.buy_bike
  .container.card-size
    .row
      .col-sm
        .text-center.mt-4.buy_bike_card
          %h1.pt-3.pb-3{:style => "font-size: 30px; color: #D6A74C;"} KAWASAKİ
          %p.pt-4.pb-3{:style => "color: seashell;"} Lorem ipsum, dolor sit amet consectetur adipisicing elit. Voluptatum, obcaecati iusto adipisci ex quis iure.
          %h1.pb-4{:style => "color:#D6A74C; font-size: 50px;"} KX 65
          %button.btn.btn-light{:type => "button"} LEARN MORE
      .col-sm
        .text-center.mt-4.buy_bike_card
          %h1.pt-3.pb-3{:style => "font-size: 30px; color: #D6A74C;"} KTM
          %p.pt-4.pb-3{:style => "color: seashell;"} Lorem ipsum, dolor sit amet consectetur adipisicing elit. Voluptatum, obcaecati iusto adipisci ex quis iure.
          %h1.pb-4{:style => "color:#D6A74C; font-size: 50px;"} SX 125
          %button.btn.btn-light{:type => "button"} LEARN MORE
      .col-sm
        .text-center.mt-4.buy_bike_card
          %h1.pt-3.pb-3{:style => "font-size: 30px; color: #D6A74C;"} KAWASAKİ
          %p.pt-4.pb-3{:style => "color: seashell;"} Lorem ipsum, dolor sit amet consectetur adipisicing elit. Voluptatum, obcaecati iusto adipisci ex quis iure.
          %h1.pb-4{:style => "color:#D6A74C; font-size: 50px;"} YZ 125
          %button.btn.btn-light{:type => "button"} LEARN MORE